### `set` 선언

In [27]:
s1 = set([1, 2, 3])
s2 = set("Hello")
s3 = set({1: "Hello", 2: "World"})
s4 = set((1, 2, 3))
s5 = set()

print(s1)
print(s2)
print(s3)
print(s4)
print(s5)

{1, 2, 3}
{'H', 'e', 'o', 'l'}
{1, 2}
{1, 2, 3}
set()

##### `set`는 unordered 함

In [28]:
# print(s1[0]) # TypeError: 'set' object does not support indexing

l1 = list(s1)
print(l1, l1[0])

t1 = tuple(s1)
print(t1, t1[0])

[1, 2, 3] 1
(1, 2, 3) 1

### `set`의 연산

In [29]:
s1, s2 = {1, 2, 3, 4, 5}, {3, 4, 5, 6, 7}

##### 합집합

In [30]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7}

In [31]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7}

##### 교집합

In [32]:
s1 & s2

{3, 4, 5}

In [33]:
s1.intersection(s2)

{3, 4, 5}

#### 차집합

In [34]:
print(s1 - s2)
print(s2 - s1)

{1, 2}
{6, 7}

In [35]:
print(s1.difference(s2))
print(s2.difference(s1))

{1, 2}
{6, 7}

##### 집합이 같은지 확인

In [36]:
print(s1, s2)
s1 == s2

{1, 2, 3, 4, 5} {3, 4, 5, 6, 7}

False

##### 집합이 서로소인지 확인

In [39]:
print(s1, s2)

print(s1.isdisjoint(s2))
print(len(s1 & s2) == 0)    # 이렇게 alternative하게도 표현 가능

{1, 2, 3, 4, 5} {3, 4, 5, 6, 7}
False
False

### `set`의 메소드

##### 값 1개 추가하기 -> `add`

In [40]:
s1 = {1, 2, 3, 4, 5}
s1.add(6)
s1

{1, 2, 3, 4, 5, 6}

##### 값 여러 개 추가하기 -> `update`

In [41]:
s1 = {1, 2, 3, 4, 5}
s1.update([6, 7, 8])
s1

{1, 2, 3, 4, 5, 6, 7, 8}

##### 특정 값 제거하기 -> `remove`

In [45]:
s1 = {1, 2, 3, 4, 5}
s1.remove(2)
s1
# s1.remove(2) 없는 값을 remove하려 하면 KeyError 발생

{1, 3, 4, 5}

##### 특정 값 **안전하게** 제거하기 -> `discard`

In [47]:
s1 = {1, 2, 3, 4, 5}
s1.discard(2)
s1.discard(2)   # discard는 없는 값을 remove하려 해도 에러 발생하지 않고 아무 일도 일어나지 않음
s1

{1, 3, 4, 5}

##### 모든 요소 제거 -> `clear`

In [48]:
s1 = {1, 2, 3, 4, 5}
s1.clear()
s1

set()

##### 내부에 요소가 있는지 확인 -> `in`

In [49]:
s1 = {1, 2, 3, 4, 5}
print(1 in s1)
print(6 in s1)

True
False

##### 집합 크기 확인 -> `len`

In [50]:
s1 = {1, 2, 3, 4, 5}
len(s1)

5